<div class="bg-image flex-column align-items-center">
  <div class="title-text">
    <h1 class="text-light">My Movie Lists</h1>
    <p class="text-light">Add your favourite movies to the list!</p>
    <div class="title-text-faded"></div>
  </div>
</div>
<div class="container d-flex flex-column align-items-center">
  <div class="list row">
    <% @lists.each do |list| %>
      <div class="list-item col-lg-4 col-xs-12 col-md-6">
        <%= link_to list_path(list) do %>
        <% if list.image_url.nil? %>
          <%= image_tag "list-image", alt: "MyMovieList logo", class:"my-2 list-image" %>
        <% else %>
          <%= image_tag list.image_url, alt: "MyMovieList logo", class:"my-2 list-image" %>
        <% end %>
          <h2><%= list.name %></h2>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
``
